body {
  margin: 50px;
}


h5 {
  font-family: cursive;
  color: #161515;
}


#main-moto {
  font-family: 'Chelsea Market';
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 52px;
}
img {
  width: 1080px;
  height: 300px;
  border-radius: 15px;
}
