html {
  color: aliceblue;
}
body {
  background: rgb(170, 217, 152);
  text-align: center;
  margin: 50px;
}

h1 {
  font-size: xx-large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #f60052;
  text-decoration:  underline;
}

p {
  font-family: cursive;
  color: #161515;
}

a {
  text-decoration: none;
  color: red;
}
a:hover{
  text-decoration: underline;
  font-size: large;
  color: green;
}

#main-moto {
  font-family: 'Chelsea Market';
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 52px;
}
img {
  width: 1080px;
  height: 300px;
  border-radius: 15px;
}
