html {
  color: aliceblue;
}
body {
  background: rgb(245, 245, 247);
}

h1 {
  font-size: xx-large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  color: #21b18d;
}

p {
  font-family: cursive;
  text-align: center;
  color: #161515;
}

a {
  text-decoration: none;
  color: red;
}
a:hover{
  text-decoration: underline;
  font-size: large;
  color: green;
}

#main-moto {
  font-family: 'Chelsea Market';
  color: rgb(255, 217, 0);
  font-weight: bold;
  font-size: 52px;
}