.pros,
.cons {
  font-family: 'Segoe UI Black';
  color: rgb(0, 0, 0);
  text-align: left;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 110px;
  margin-right: 110px;
  margin-top: 70px;
  margin-bottom: 70px;
  border-radius: 20px;
}

.pros:hover,
.cons:hover {
  color: rgb(255, 255, 255);
  padding-left: 72px;
  padding-right: 72px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 110px;
  margin-right: 110px;
  margin-top: 70px;
  margin-bottom: 70px;
  border-radius: 20px;
}




.pros {
  background-color: rgb(0, 151, 89);
}
.cons {
  background-color: rgb(201, 47, 16);
}


#main-menu {
  text-align: left;
}


#home-link {
  align-self: left;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 15px;
  border: 50px;
  border-color: rgb(84, 134, 178);
  background-color: rgb(0, 33, 80);
  padding: 10px;
}

#home-link:hover {
 text-decoration: none;
 background-color: rgb(45, 98, 173);
}

li {
  font-size: 20px;
  font-family: "Viner Hand ITC";
  list-style: none;
  margin-bottom: 30px;
  color: rgb(255, 255, 255);
  width: fit-content;
}


