body {
  background: rgb(170, 217, 152);
  text-align: center;
}

h1 {
  font-size: xx-large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #000000;
  text-decoration: underline;
}

p {
  font-family: cursive;
  color: #161515;
}

a {
  text-decoration: none;
  color: red;
}
a:hover {
  text-decoration: underline;
  font-size: large;
  color: green;
}
