body {
  background: #000000;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 40px;
  margin-bottom: 100px;
  
}

h1 {
  /* font-size: xx-large; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  text-decoration: underline;
}


p {
  font-family: cursive;
  color: white
}

a {
  text-decoration: none;
  color: rgb(47, 129, 247);
}
a:hover {
  text-decoration: underline;
  color: rgb(90, 159, 255);
}
