body {

    margin-left: 60px;
    margin-right: 60px;
    background-color: rgb(39, 39, 32);
    color: rgb(233, 248, 255);
    text-align: left;

}


div {
    text-align: center;
    background: black;
    border-radius: 5px;
}

/* #About {
    text-align: center;
    background: rgb(8, 17, 98);
    border-radius: 20px;
} */

p {
    color: #ffffff;    
}

h1, h2, h3, h4, h5, h6{
    color: #ffffff;
}
li {
    list-style-type: decimal-leading-zero;
}

ol {
    text-align: left;
}