body {

    margin-left: 60px;
    margin-right: 60px;
    background-color: #25274D;
    color: #ffffff;
    text-align: left;

}


div {
    text-align: center;
    background: black;
    border-radius: 30px;
}

#About {
    text-align: center;
    background: red;
    border-radius: 20px;
}

p {
    color: #ffffff;    
}

h1, h2, h3, h4, h5, h6{
    color: #ffffff;
}
li {
    list-style-type: decimal-leading-zero;
}

ol {
    text-align: left;
}